.email-button {
    background-color: #ff9c74; /* Example color */
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgetPassword-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: black;
}

.forget-password-container {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    height: 50%;
}