#root {
    background-color: #fff4f4; 
}

.email-button {
    background-color: #ff9c74; /* Example color */
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgetPassword-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: black;
}

.forget-password-container {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (min-height: 853px) {
    .forget-password-container {
        padding-bottom: 130px;
    }
}

@media screen and (min-height: 1024px) {
    .forget-password-container {
        padding-bottom: 300px;
    }
}

@media screen and (min-height: 1163px) {
    .forget-password-container {
        padding-bottom: 440px;
    }
}

@media screen and (min-height: 1280px) {
    .forget-password-container {
        padding-bottom: 560px;
    }
}