@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
  zoom: 100%;
  margin: 0;
  background-color: #02615b;
} 

#root {
  text-align: center;
  background-color: #02615b;
  font-family: "Lato", serif;
  zoom: 100%;
}

#header {
  font-family: "Montserrat", serif;
}

.container-box {
  background-color: #002d72; /* Dark blue background */
  color: white;
  padding: 10px;
  border-radius: 10px; /* Rounded corners */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  width: 30%;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically align items */
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.location select {
  background-color: transparent; 
  color: white;
  border: none;
  appearance: none; /* Remove default select styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  margin-inline-start: -4px;
  outline: none;
}

.location select option {
  color: white;
  background-color: #002d72;
}

.location select option:hover {
  background-color: white;
  color: #002d72;
}

.hours {
  background-color: transparent; /* White background */
  color: #fff; /* Dark blue text */
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 10px;
  width: 70%;
  margin-inline-start: 50px;
}

.button-container {
  display: inline-block;
  background-color: #fff;
  color: #002d72;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.button-container:hover {
  color: #002d72;
  background-color: #e07c1c;
}

.card-container {  /* New container for the cards */
  display: grid;
  grid-template-columns: repeat(3, 0fr); /* 3 equal-width columns */
  row-gap: 50px; /* Adjust spacing between cards */
  column-gap: 40px;
}

.button-cards {
  text-decoration: none;
}

.parallel-card {
  width: 200px;
  padding: 30px;
  border: 1px solid white; /* Blue border */
  border-radius: 10px;
  transform: skewX(-15deg); /* Adjust the angle as needed */
  box-shadow: 5px 5px 5px white; /* Subtle shadow */
  background-color: transparent;
  cursor: pointer;
}

.card-content {
  transform: skewX(15deg); /* Counteract the skew of the container */
  text-align: center;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  font-family: "Montserrat", serif;
}

.content-wrapper {
  display: flex;
  gap: 100px; /* Adjust spacing as needed */
  margin-top: 1rem;
  padding-inline-start: 25px;
  padding-bottom: 50px;
}

.rating-icon {
  /* Style your rating icon (e.g., star image, font icon) */
  cursor: pointer; 
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: black;
}

.rating-popup {
  display: none; 
  position: absolute;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.rating-icon .rating-button {
  display: none; /* Hide the button initially */
  position: absolute;
  bottom: 0px;
  left: 0px; /* Adjust position relative to the icon */
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  white-space: nowrap; /* Prevent text from wrapping */
  opacity: 1;
}

.rating-icon:hover .rating-button {
  display: block; /* Show the button on hover */
}

.text {
  font-weight: bold;
  font-family: "Lato", "sans-serif";
  font-size: 14px;
}

.rating-faces {
  display: none;
  position: fixed;
  bottom: 3%;
  left: 11%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px black;
  text-align: center;
}

.faceRatings {
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 20px;
  border-radius: 11px;
  border: 1px solid black; /* Increased border thickness */
}

.faceRatings:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}

.rating-container {
  display: flex;
  flex-direction: column; /* Stack labels and icons vertically */
  align-items: center; 
}

.labels-container {
  display: flex;
  justify-content: space-between; /* Distribute labels to the ends */
  width: 100%; /* Make labels span the container width */
  margin-bottom: 10px; /* Add space between labels and icons */
  font-size: 9px;
}

.icons-container {
  display: flex;
  gap: 10px;
}

.icons-container label {
  font-size: 9px;
}

.rating-icon-faces {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px; 
  background-color: transparent;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px; /* Adjust right position as needed */
  cursor: pointer;
}

.close-image-icon {
  position: absolute;
  right: 10px; /* Adjust right position as needed */
  cursor: pointer;
}

.chat-icon {
  position: fixed; /* Or absolute, depending on your layout */
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.chat-selection-box {
  background-color: white;
  padding: 50px;
  box-shadow: 0px 2px 10px black;
  position: fixed;
  bottom: 3%;
  padding-bottom: 130px;
  right: 3%;
}

.button-box {
  display: flex;
  padding-block-start: 40px;
  justify-content: center;
  padding-inline-start: 20px;
}

.select-button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-size: 10px;
  border-radius: 5px;
  margin-right: 20px;
}

.select-button:hover {
  background-color:#e07c1c;
  color: white;
  border: 1px solid white;
}

.attachment-image {
 /* Vertically align items in the center */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}
.chat-window {
  position: fixed; /* Or absolute, depending on your layout */
  bottom: 150px; /* Adjust position as needed */
  right: 20px;
  width: 400px; /* Adjust size as needed */
  height: 400px; /* Adjust size as needed */
  background-color: white;
}

.chat-header {
  display: flex;
  padding: 10px;
  background-color: white; /* Add a background color to the header */
}

.close-chat-icon {
  cursor: pointer;
} 

.chat-header-text {
  color: black;
  text-align: left;
}

.file-icon-button {
  padding-inline-start: 10px;
  cursor: pointer;
}

.file-icon-button:hover {
  color: #A8CBE7;
}

.submit-icon-button {
  padding-inline-start: 10px;
  cursor: pointer;
  padding-inline-end: 15px;
}

.submit-icon-button:hover {
  color: #A8CBE7;
}

.page {
  background-color:#02615b;
}

@media screen and (min-width: 1303px) and (min-height: 750px) {
  .content-wrapper {
    padding-inline-start: 90px;
    gap: 120px;
  }
  
  .hours {
    width: 72%;
  }

  .rating-faces {
    bottom: 3%;
    left: 10%;
  }
}

@media screen and (min-width: 1520px) and (min-height: 876px) {
  .content-wrapper {
    padding-inline-start: 170px;
    gap: 150px;
  }

  .hours {
    width: 75%;
  }

  .rating-faces {
    bottom: 2%;
    left: 8%;
  }
}

@media screen and (min-width: 1824px) and (min-height: 1051px) {
  .content-wrapper {
    padding-inline-start: 280px;
    gap: 240px;
  }

  .hours {
    width: 78%;
  }

  .rating-faces {
    bottom: 2%;
    left: 7%;
  }
}

@media screen and (min-width: 2087px) and (min-height: 1194px) {
  .content-wrapper {
    padding-inline-start: 350px;
    gap: 270px;
    padding-top: 30px;
    padding-bottom: 150px;
  }

  .hours {
    width: 78%;
  }

  .rating-faces {
    bottom: 1%;
    left: 6%;
  }
}

@media screen and (min-width: 2281px) and (min-height: 1314px) {
  .content-wrapper {
    padding-inline-start: 500px;
    gap: 300px;
    padding-top: 40px;
    padding-bottom: 250px;
  } 

  .hours {
    width: 79%;
  }

  .rating-faces {
    bottom: 1%;
    left: 6%;
  }
}

.attachment-button {
  background-color: transparent;
}
.message-input {
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Vertically align items in the center */
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.image-attachment-container {
  margin-right: 10px; /* Add some space between the attachment and text input */
}

.text-input {
  flex-grow: 1; /* Allow the text input to take up available space */
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #C6E3FA;
  color: black;
  margin-inline-start: 8px;
}

.send-button {
  padding: 8px 12px;
  background-color: #0084ff; /* Example color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

