@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Same CSS as before */
body {
    font-family: 'Lato', sans-serif;
}
.container {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Calibri Dark', sans-serif
}
label {
    display: block;
    margin-bottom: 5px;
}
.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: black;
}

.login-button {
    background-color: #ff9c74; 
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.forgot-password {
    text-align: center;
    margin-top: 10px;
}
.forgot-password a {
    color: #555;
    text-decoration: none;
}

.password-input-container {
    position: relative;
}
  
.password-icon {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #ff9c74;
    padding: 5px;
    border-radius: 3px;
}


