.navbar {
  border-bottom: 1px solid white;
}

.navigation-bar {
  padding-bottom: 10px;
}

.icon {
  padding-right: 40.7em;
  margin-left: 5px;
  padding-inline-start: 5px;
}

.govt-banner-wrapper {
  padding-bottom: 5px;
}

.nav-item {
  padding-inline-end: 2em;
}

.search-icon {
  cursor: pointer;
}

.search-icon:hover {
  color: #e07c1c; 
}

.user-icon:hover {
  color: #e07c1c; 
}

/* Search bar popup styles */
.search-popup {
  top: 100%; 
  width: 100%; 
  padding: 20px;
  display: none; 
  background-color: #02615b;
  transition: opacity 0.3s ease, visibility 0.3s ease; 
  border-bottom: 1px solid white;
}

.search-popup.show {
  display: block; 
  opacity: 1;  /* Make it visible */
  visibility: visible; /* Ensure it's not hidden */
}

.search-popup input[type="text"] {
  width: 80%;
  padding: 10px;
  border-color: transparent;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  box-sizing: border-box;
  font-family: 'Calibri', 'sans-serif';
}

.search-popup input::placeholder {
  color: white;
}

.search-popup label { /* Style the labels */
  display: inline-flex; /* Use inline-flex to align items vertically */
  align-items: center; /* Vertically center the radio button and text */
  margin-left: 20px; /* Adjust spacing as needed */
}

.button-search {
  background-color:#e07c1c;
  color: white;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  width: 5%;
  margin-left: 10px;
  margin-inline-end: 60px;
}

.button-search:hover {
  border-color: transparent;
}

.search-popup input[type="radio"] { /* Style the radio buttons */
  margin-right: 5px; /* Add some space between the radio button and text */
}

.search-popup input[type="radio"]:checked {
  accent-color: #e07c1c; 
  background-color: #e07c1c; /* Fill with orange when checked */
}

.profile-container {
  position: relative; /* To position the dropdown relative to the icon */
  display: inline-block; /* To contain the dropdown within the container */
}

.user-icon {
  cursor: pointer; /* Indicate that the icon is clickable */
}

.profile-dropdown {
  position: absolute;
  top: 100%; /* Position the dropdown below the icon */
  right: 0; /* Align to the right of the icon */
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /* Ensure the dropdown is on top of other elements */
  display: flex;
  flex-direction: column; /* Stack the links vertically */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.profile-dropdown a {
  padding-right: 5rem;
  padding-bottom: 10px;
  padding-inline-start: 10px;
  text-decoration: none;
  text-align: left;
  color: #333;
  white-space: nowrap;
}

.profile-dropdown a:hover {
  background-color: peachpuff;
}